$product-title-height: 50px
$loft-bed-color: $blue-base
$bunk-bed-color: $grey-dark

.main-callout-area
  @include app-outer-container
  @extend .text-align-center
  padding-top: 300px
  h1, .subheader
    @extend %color-white-base
.home
  .products
    padding-top: 100px
    padding-bottom: 100px

    .product-callout
      @extend .float-left
      @include span-columns(4 of 4)

      // LOFT BED & BUNK BED STYLES
      .featured-image
        width: 100%
        height: 500px

      .product-title-area
        height: $product-title-height

      .product-title
        @extend %font-size-big
        @extend .margin-0
        line-height: $product-title-height
        text-align: center

        a
          @extend %color-white-base

      @include media($tablet-landscape)
        @include span-columns(5 of 9)


      // LOFT BED STYLES
      &.loft-bed
        .product-title-area
          background-color: $loft-bed-color

        .featured-image
          @include standardBackgroundImage('home_loft.jpg')
          background-position: center left


      // BUNK BED STYLES
      &.bunk-bed
        .product-title-area
          background-color: $bunk-bed-color

        .featured-image
          @include standardBackgroundImage('Laurie3-for-web.jpg')
          background-position: center right
          background-size: cover
