.header
  .navigation-area
    @extend .position-fixed
    z-index: 999
    width: 100%
    height: $navigation-height
    line-height: $navigation-height

    .navigation
      @extend .position-relative
