@import 'neat-helpers';

//GRID SETTINGS
  $grid-columns: 12;

//MEDIA QUERIES

  //DEFINED VARIABLES
  $tablet-landscape: em(1024);
  $tablet-size:em(720);
  $mobile-size:em(320);

  $column: 90px;
  $gutter: 30px;
  $grid-columns: 12;
  $max-width: em(1150);

  // Bourbon Neat Breakpoints
  $tablet-landscape: new-breakpoint(max-width $tablet-landscape orientation landscape 8);
  $tablet: new-breakpoint(max-width $tablet-size 8);
  $mobile: new-breakpoint(max-width $mobile-size 4);

